################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazoredLocation/bin/Debug/net9.0
/BlazoredLocation/obj
/BlazoredLocation/bin/Release
